@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0
}

figure,
footer,
header,
main,
menu,
nav,
section {
  display: block
}

video {
  display: inline-block;
  vertical-align: baseline
}

[hidden] {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

img {
  border: 0
}

figure {
  margin: 1em 40px
}

code {
  font-family: monospace, monospace;
  font-size: 1em
}

button {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button {
  text-transform: none
}

button {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled] {
  cursor: default
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

@media print {

  *,
  :after,
  :before {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important
  }

  a,
  a:visited {
    text-decoration: underline
  }


  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""
  }

  img {
    page-break-inside: avoid
  }

  img {
    max-width: 100% !important
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3
  }


  h2,
  h3 {
    page-break-after: avoid
  }

  .navbar {
    display: none
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(https://easygym.netlify.app/fonts/glyph/glyphicons-halflings-regular.eot);
  src: url(https://easygym.netlify.app/fonts/glyph/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(https://easygym.netlify.app/fonts/glyph/glyphicons-halflings-regular.woff2) format("woff2"), url(https://easygym.netlify.app/fonts/glyph/glyphicons-halflings-regular.woff) format("woff"), url(https://easygym.netlify.app/fonts/glyph/glyphicons-halflings-regular.ttf) format("truetype"), url(https://easygym.netlify.app/fonts/glyph/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: #fff
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #337ab7;
  text-decoration: none
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

figure {
  margin: 0
}

img {
  vertical-align: middle
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto
}

.img-circle {
  border-radius: 50%
}

[role=button] {
  cursor: pointer
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px
}

.h1,
h1 {
  font-size: 36px
}

.h2,
h2 {
  font-size: 30px
}

.h3,
h3 {
  font-size: 24px
}

.h4,
h4 {
  font-size: 18px
}

.h5,
h5 {
  font-size: 14px
}

.h6,
h6 {
  font-size: 12px
}

p {
  margin: 0 0 10px
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.text-center {
  text-align: center
}

.text-primary {
  color: #337ab7
}

a.text-primary:focus,
a.text-primary:hover {
  color: #286090
}

.text-info {
  color: #31708f
}

a.text-info:focus,
a.text-info:hover {
  color: #245269
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee
}

ul {
  margin-top: 0;
  margin-bottom: 10px
}

ul ul {
  margin-bottom: 0
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

.container:after,
.container:before {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

@media (min-width:768px) {
  .container {
    width: 750px
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px
}

.row:after,
.row:before {
  content: " ";
  display: table
}

.row:after {
  clear: both
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width:768px) {

  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left
  }

  .col-sm-1 {
    width: 8.33333%
  }

  .col-sm-2 {
    width: 16.66667%
  }

  .col-sm-3 {
    width: 25%
  }

  .col-sm-4 {
    width: 33.33333%
  }

  .col-sm-5 {
    width: 41.66667%
  }

  .col-sm-6 {
    width: 50%
  }

  .col-sm-7 {
    width: 58.33333%
  }

  .col-sm-8 {
    width: 66.66667%
  }

  .col-sm-9 {
    width: 75%
  }

  .col-sm-10 {
    width: 83.33333%
  }

  .col-sm-11 {
    width: 91.66667%
  }

  .col-sm-12 {
    width: 100%
  }

  .col-sm-offset-0 {
    margin-left: 0
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%
  }

  .col-sm-offset-3 {
    margin-left: 25%
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%
  }

  .col-sm-offset-6 {
    margin-left: 50%
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%
  }

  .col-sm-offset-9 {
    margin-left: 75%
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%
  }

  .col-sm-offset-12 {
    margin-left: 100%
  }
}

@media (min-width:992px) {

  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left
  }

  .col-md-1 {
    width: 8.33333%
  }

  .col-md-2 {
    width: 16.66667%
  }

  .col-md-3 {
    width: 25%
  }

  .col-md-4 {
    width: 33.33333%
  }

  .col-md-5 {
    width: 41.66667%
  }

  .col-md-6 {
    width: 50%
  }

  .col-md-7 {
    width: 58.33333%
  }

  .col-md-8 {
    width: 66.66667%
  }

  .col-md-9 {
    width: 75%
  }

  .col-md-10 {
    width: 83.33333%
  }

  .col-md-11 {
    width: 91.66667%
  }

  .col-md-12 {
    width: 100%
  }

  .col-md-offset-0 {
    margin-left: 0
  }

  .col-md-offset-1 {
    margin-left: 8.33333%
  }

  .col-md-offset-2 {
    margin-left: 16.66667%
  }

  .col-md-offset-3 {
    margin-left: 25%
  }

  .col-md-offset-4 {
    margin-left: 33.33333%
  }

  .col-md-offset-5 {
    margin-left: 41.66667%
  }

  .col-md-offset-6 {
    margin-left: 50%
  }

  .col-md-offset-7 {
    margin-left: 58.33333%
  }

  .col-md-offset-8 {
    margin-left: 66.66667%
  }

  .col-md-offset-9 {
    margin-left: 75%
  }

  .col-md-offset-10 {
    margin-left: 83.33333%
  }

  .col-md-offset-11 {
    margin-left: 91.66667%
  }

  .col-md-offset-12 {
    margin-left: 100%
  }
}

@media (min-width:1200px) {

  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left
  }

  .col-lg-1 {
    width: 8.33333%
  }

  .col-lg-2 {
    width: 16.66667%
  }

  .col-lg-3 {
    width: 25%
  }

  .col-lg-4 {
    width: 33.33333%
  }

  .col-lg-5 {
    width: 41.66667%
  }

  .col-lg-6 {
    width: 50%
  }

  .col-lg-7 {
    width: 58.33333%
  }

  .col-lg-8 {
    width: 66.66667%
  }

  .col-lg-9 {
    width: 75%
  }

  .col-lg-10 {
    width: 83.33333%
  }

  .col-lg-11 {
    width: 91.66667%
  }

  .col-lg-12 {
    width: 100%
  }

  .col-lg-offset-0 {
    margin-left: 0
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%
  }

  .col-lg-offset-3 {
    margin-left: 25%
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%
  }

  .col-lg-offset-6 {
    margin-left: 50%
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%
  }

  .col-lg-offset-9 {
    margin-left: 75%
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%
  }

  .col-lg-offset-12 {
    margin-left: 100%
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.active:focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
}

.btn.active,
.btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: .65;
  -webkit-box-shadow: none;
  box-shadow: none
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc
}

.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad
}

.btn-default.active,
.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad
}

.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c
}

.btn-default.active,
.btn-default:active {
  background-image: none
}

.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover {
  background-color: #fff;
  border-color: #ccc
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4
}

.btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74
}

.btn-primary.active,
.btn-primary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74
}

.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40
}

.btn-primary.active,
.btn-primary:active {
  background-image: none
}

.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover {
  background-color: #337ab7;
  border-color: #2e6da4
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da
}

.btn-info:focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc
}

.btn-info.active,
.btn-info:active {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc
}

.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85
}

.btn-info.active,
.btn-info:active {
  background-image: none
}

.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover {
  background-color: #5bc0de;
  border-color: #46b8da
}

.btn-link {
  color: #337ab7;
  font-weight: 400;
  border-radius: 0
}

.btn-link,
.btn-link.active,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  border-color: transparent
}

.btn-link:focus,
.btn-link:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent
}

.btn-link[disabled]:focus,
.btn-link[disabled]:hover {
  color: #777;
  text-decoration: none
}

.btn-lg {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px
}

.btn-sm {
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.btn-block {
  display: block;
  width: 100%
}

.btn-block+.btn-block {
  margin-top: 5px
}

.collapse {
  display: none
}

.collapse.in {
  display: block
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none
}

.nav:after,
.nav:before {
  content: " ";
  display: table
}

.nav:after {
  clear: both
}

.nav>li {
  position: relative;
  display: block
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: #eee
}

.nav>li>a>img {
  max-width: none
}

.navbar {
  position: relative;
  min-height: 55px;
  margin-bottom: 20px;
  border: 1px solid transparent
}

.navbar:after,
.navbar:before {
  content: " ";
  display: table
}

.navbar:after {
  clear: both
}

@media (min-width:768px) {
  .navbar {
    border-radius: 4px
  }
}

.navbar-header:after,
.navbar-header:before {
  content: " ";
  display: table
}

.navbar-header:after {
  clear: both
}

@media (min-width:768px) {
  .navbar-header {
    float: left
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  -webkit-overflow-scrolling: touch
}

.navbar-collapse:after,
.navbar-collapse:before {
  content: " ";
  display: table
}

.navbar-collapse:after {
  clear: both
}

.navbar-collapse.in {
  overflow-y: auto
}

@media (min-width:768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important
  }

  .navbar-collapse.in {
    overflow-y: visible
  }
}

.container>.navbar-collapse,
.container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px
}

@media (min-width:768px) {

  .container>.navbar-collapse,
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0
  }
}

.navbar-brand {
  float: left;
  padding: 17.5px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 55px
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none
}

.navbar-brand>img {
  display: block
}

@media (min-width:768px) {
  .navbar>.container .navbar-brand {
    margin-left: -15px
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px
}

.navbar-toggle:focus {
  outline: 0
}

@media (min-width:768px) {
  .navbar-toggle {
    display: none
  }
}

.navbar-nav {
  margin: 8.75px -15px
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px
}

@media (min-width:768px) {
  .navbar-nav {
    float: left;
    margin: 0
  }

  .navbar-nav>li {
    float: left
  }

  .navbar-nav>li>a {
    padding-top: 17.5px;
    padding-bottom: 17.5px
  }
}

.navbar-btn {
  margin-top: 6.5px;
  margin-bottom: 6.5px
}

.navbar-btn.btn-sm {
  margin-top: 12.5px;
  margin-bottom: 12.5px
}

.navbar-text {
  margin-top: 17.5px;
  margin-bottom: 17.5px
}

@media (min-width:768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px
  }
}

@media (min-width:768px) {
  .navbar-left {
    float: left !important
  }

  .navbar-right {
    float: right !important;
    margin-right: -15px
  }

  .navbar-right~.navbar-right {
    margin-right: 0
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7
}

.navbar-default .navbar-brand {
  color: #777
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #5e5e5e;
  background-color: transparent
}

.navbar-default .navbar-text {
  color: #777
}

.navbar-default .navbar-nav>li>a {
  color: #777
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #333;
  background-color: transparent
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #555;
  background-color: #e7e7e7
}

.navbar-default .navbar-toggle {
  border-color: #ddd
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd
}

.navbar-default .navbar-collapse {
  border-color: #e7e7e7
}

.navbar-default .navbar-link {
  color: #777
}

.navbar-default .navbar-link:hover {
  color: #333
}

.navbar-default .btn-link {
  color: #777
}

.navbar-default .btn-link:focus,
.navbar-default .btn-link:hover {
  color: #333
}

.navbar-default .btn-link[disabled]:focus,
.navbar-default .btn-link[disabled]:hover {
  color: #ccc
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }

  to {
    background-position: 0 0
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }

  to {
    background-position: 0 0
  }
}

.media {
  margin-top: 15px
}

.media:first-child {
  margin-top: 0
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden
}

.media-body {
  width: 10000px
}

.media-right {
  padding-left: 10px
}

.media-left {
  padding-right: 10px
}

.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top
}

.media-bottom {
  vertical-align: bottom
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.show {
  display: block !important
}

.visible-sm {
  display: none !important
}

.visible-md {
  display: none !important
}

.visible-lg {
  display: none !important
}

.visible-lg-block,
.visible-md-block,
.visible-sm-block {
  display: none !important
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm {
    display: block !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-block {
    display: block !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md {
    display: block !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-block {
    display: block !important
  }
}

@media (min-width:1200px) {
  .visible-lg {
    display: block !important
  }
}

@media (min-width:1200px) {
  .visible-lg-block {
    display: block !important
  }
}


html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #777777;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #607D8B;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: white;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

.edge--bottom {
  position: relative;
  z-index: 1;
}

.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  backface-visibility: hidden;
}

.edge--bottom:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}

.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  backface-visibility: hidden;
}

.edge--bottom--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}

.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  backface-visibility: hidden;
}

.edge--top:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}

.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  backface-visibility: hidden;
}

.edge--top--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}

.edge--both:before,
.edge--both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  backface-visibility: hidden;
}

.edge--both:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}

.edge--both:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}

.edge--both--reverse:before,
.edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  backface-visibility: hidden;
}

.edge--both--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}

.edge--both--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 0;
}

.span-image {
  background-image: url(/images/Weight\ icon\ white.png);
  background-size: 100%;
  width: 200px;
}

.navbar-brandstyle-name {
  font-weight: 100;
}



#header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  #header {
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }

  #header .navbar-brand {
    color: #607D8B !important;
  }

  #header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  #header #navbar li a:hover {
    color: #607D8B !important;
  }

  #header #navbar li a span:before {
    background: transparent !important;
  }

  #header #navbar li.active a {
    background: transparent;
    background: none;
    color: #607D8B !important;
  }

  #header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

#header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}

#header #navbar li a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  font-size: 19px;
  font-weight: 300;
}

#header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

#header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#header #navbar li a:hover {
  color: #fff;
}

#header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}

#header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#header .navbar-brand {
  float: left;
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding-left: 0;
  color: #fff;
}

#header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}

#header.navbar-fixed-top .navbar-brand {
  color: #607D8B;
}

#header.navbar-fixed-top .navbar-brand .brand-image {
  content: url(/images/logo/logo\ QR\ blue.png);
  width: 22px;
  padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
  #header.navbar-fixed-top .navbar-brand .brand-image {
    content: url(/images/logo/logo\ QR\ blue.png);
  }

  .brand-image {
    content: url(/images/logo/logo\ QR\ blue.png) !important;
    width: 22px;
    padding-bottom: 5px;
  }
}

#header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#header.navbar-fixed-top #navbar li a:hover {
  color: #607D8B;
}

#header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #607D8B;
}

#header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #607D8B;
}

#header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

@media screen and (max-width: 768px) {
  #header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

#header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}

#header .navbar-default .brand-slogan em {
  color: #607D8B;
  font-style: normal;
}

#header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

@media screen and (max-width: 768px) {
  .header-mid {
    background-position-x: -300px !important;
  }
}

#home {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-color: #607D8B;
  color: #fff;
  overflow: hidden;
}

#home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .9;
  backface-visibility: hidden;
  background-color: #607D8B;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM3YjNmNzUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2MyNGQ2NyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #1b1b1b), color-stop(1, #607D8B));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #1b1b1b 0%, #607D8B 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #1b1b1b 0%, #607D8B 100%);
  background-image: -ms-repeating-linear-gradient(top left, #1b1b1b 0%, #607D8B 100%);
}

#home,
#home .text-wrap {
  height: 900px;
}

#home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}

#home .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#home .text-inner a {
  transition: 0.5s;
}

#home .text-inner a:hover,
#home .text-inner a:active,
#home .text-inner a:focus {
  text-decoration: none;
  color: white;
}

#home .text-inner h1 {
  font-size: 50px;
  color: white;
  margin: 0 0 20px 0;
  margin-top: -50px;
}

@media screen and (max-width: 768px) {
  #home .text-inner h1 {
    font-size: 35px;
  }
}

#home .text-inner h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

@media screen and (max-width: 768px) {
  #home {
    background: no-repeat;
    background-size: auto;
  }

  #home,
  #home .text-wrap {
    height: 558px;
  }
}




.slant {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  bottom: 0;
  margin-bottom: -35px;
  padding: 0;
  width: 101%;
}

#intro {
  position: relative;
  bottom: 0;
  margin-top: -150px;
  z-index: 10;
  padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
  #intro {
    margin-top: -50px;
    padding-bottom: 3em;
  }
}

#intro>div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

#intro .block {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 16px;
  min-height: 300px;
  vertical-align: middle;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  z-index: 7;
  flex-grow: 1;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  #intro .block {
    width: 100%;
  }
}

#intro .block>.overlay-darker {
  z-index: 8;
  opacity: .5;
  background: #607D8B;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#intro .block>.overlay {
  background: #fff;
  opacity: 1;
  z-index: 9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#intro .block>.text {
  position: relative;
  z-index: 10;
}

#intro .block>.text .intro-icon {
  font-size: 50px;
  color: #607D8B;
  margin-bottom: 30px;
  display: block;
}

#intro .block h2 {
  font-size: 24px;
  font-weight: 400;
}

#intro .block:hover>.overlay,
#intro .block:focus>.overlay {
  opacity: 0;
  z-index: 9;
}

#intro .block:hover>.text,
#intro .block:focus>.text {
  color: #fff;
}

#intro .block:hover>.text .intro-icon,
#intro .block:focus>.text .intro-icon {
  color: #fff;
}

#intro .block:hover h2,
#intro .block:focus h2 {
  color: #fff;
}

#intro .block:hover .btn,
#intro .block:focus .btn {
  border: 2px solid #fff !important;
  background: transparent;
}

#intro .block:hover .btn:hover,
#intro .block:focus .btn:hover {
  background: #607D8B !important;
  border: 2px solid #607D8B !important;
}

.watch-video {
  text-align: center;
  width: 100%;
  display: block;
  float: left;
  padding-left: 35px;
}

.watch-video span {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.watch-video .btn-video {
  display: block;
  font-size: 60px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border: 2px solid #607D8B;
  line-height: 0px;
  display: table;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.watch-video .btn-video:hover,
.watch-video .btn-video:focus,
.watch-video .btn-video:active {
  text-decoration: none;
}

.watch-video .btn-video i {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  right: -9px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.watch-video .btn-video:hover i,
.watch-video .btn-video:focus i {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#HowItWorks,
#testimonials,
#counters,
#workouts,
#contact,
#about {
  padding: 4em 0;
}

@media screen and (max-width: 768px) {

  #HowItWorks,
  #testimonials,
  #counters,
  #workouts,
  #contact,
  #about {
    padding: 2em 0;
  }
}

#HowItWorks,
#workouts,
#counters {
  padding: 7em 0;
}

@media screen and (max-width: 768px) {

  #HowItWorks,
  #workouts,
  #counters {
    padding: 4em 0;
  }
}

#HowItWorks {
  background-color: #607D8B;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM3YjNmNzUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2MyNGQ2NyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #1b1b1b), color-stop(1, #607D8B));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #1b1b1b 0%, #607D8B 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #1b1b1b 0%, #607D8B 100%);
  background-image: -ms-repeating-linear-gradient(top left, #1b1b1b 0%, #607D8B 100%);
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}

#HowItWorks:before,
#HowItWorks:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
}

#HowItWorks:before {
  top: 0;
  margin-top: -35px;
}

#HowItWorks:after {
  bottom: 0;
  margin-bottom: -35px;
}

#HowItWorks .HowItWork {
  padding-right: 30px;
}

#HowItWorks h3 {
  font-size: 24px;
  color: #fff;
}

#HowItWorks .icon {
  font-size: 70px;
  margin-bottom: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#HowItWorks .icon:before {
  color: #fff;
}

#HowItWorks .section-heading h2 {
  color: #fff;
}

#HowItWorks .section-heading h2.left-border:after {
  background: rgba(255, 255, 255, 0.3);
}

#counters {
  background: #ffffff;
  overflow: hidden;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  padding: 5em 0 5em 0;
}

@media screen and (max-width: 768px) {
  #counters {
    padding: 4em 0;
  }
}

#counters .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#counters:before,
#counters:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
}

#counters:before {
  top: 0;
  margin-top: -35px;
}

#counters:after {
  bottom: 0;
  margin-bottom: -35px;
}

#counters .section-heading {
  position: relative;
  z-index: 3;
  margin-bottom: 0;
}

#counters .section-heading h2 {
  color: #444;
}

#counters .section-heading .subtext h3 {
  color: rgba(255, 255, 255, 0.7) !important;
}

#counters .counter {
  position: relative;
  z-index: 3;
  text-align: center;
}

@media screen and (max-width: 992px) {
  #counters .counter {
    margin-bottom: 50px;
    float: left;
    width: 100%;
  }
}

#counters .counter .counter-icon,
#counters .counter .counter-number,
#counters .counter .counter-label {
  display: block;
}

#counters .counter .counter-icon {
  font-size: 40px;
  color: #607D8B;
}

#counters .counter .counter-number {
  font-size: 70px;
  color: #444;
  font-weight: 300;
}

#counters .counter .counter-label {
  color: #929292;
  font-size: 18px;
  font-weight: 400;
}

#testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}

#testimonials .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}

#testimonials .box-testimony a:hover,
#testimonials .box-testimony a:focus,
#testimonials .box-testimony a:active {
  color: white;
  text-decoration: none;
}

#testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 30px;
  background: #fff;
  background: #607D8B;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

#testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 10px solid black;
  border-top-color: #fff;
  border-top-color: #607D8B;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

#testimonials .box-testimony blockquote p {
  font-style: italic;
  color: #fff;
}

#testimonials .box-testimony .author {
  line-height: 20px;
  color: black;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 400;
}

#testimonials .box-testimony .author a {
  color: #607D8B;
}

#testimonials .box-testimony .author a:hover {
  text-decoration: underline;
}

#testimonials .box-testimony .author>figure {
  float: left;
  margin-right: 10px;
}

#testimonials .box-testimony .author>figure img {
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#testimonials .box-testimony .author p {
  float: left;
  margin-top: 10px;
}

#testimonials .box-testimony .author .subtext {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400 !important;
}

#workouts {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #607D8B;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM3YjNmNzUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2MyNGQ2NyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #1b1b1b), color-stop(1, #607D8B));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #1b1b1b 0%, #607D8B 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #1b1b1b 0%, #607D8B 100%);
  background-image: -ms-repeating-linear-gradient(top left, #1b1b1b 0%, #607D8B 100%);
}

#workouts a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

#workouts a:hover {
  color: white;
}

#workouts:before,
#workouts:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
}

#workouts:before {
  top: 0;
  margin-top: -35px;
}

#workouts:after {
  bottom: 0;
  margin-bottom: -35px;
}

#workouts .section-heading h2 {
  color: #fff;
}

#workouts .section-heading h2:after {
  background: rgba(255, 255, 255, 0.3);
}

#workouts .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}

#workouts .project-item {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#workouts .project-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#workouts .project-item .text {
  padding: 10px 20px;
}

/*
@media screen and (max-width: 992px) {
  #workouts .project-item .text {
    height: 65px;
  }
}*/

#workouts .project-item .text h2,
#workouts .project-item .text span {
  text-decoration: none !important;
}

#workouts .project-item .text h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

#workouts .project-item .text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}

#workouts .project-item:hover,
#workouts .project-item:focus {
  -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  top: -15px;
}

#workouts .project-item:hover img,
#workouts .project-item:focus img {
  opacity: .7;
}

#workouts .project-item:hover h2,
#workouts .project-item:hover span,
#workouts .project-item:focus h2,
#workouts .project-item:focus span {
  text-decoration: none !important;
}

.person {
  border: 2px solid #f2f2f2;
  padding: 80px 30px 30px 30px;
  float: left;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 992px) {
  .person {
    margin-bottom: 3.5em;
  }
}

.person figure {
  position: absolute;
  margin-top: -60px;
  top: 0;
  left: 50%;
  margin-left: -60px;
  display: block;
  margin-bottom: 50px;
}

.person figure img {
  width: 120px;
  border: 2px solid #f2f2f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.person h3 {
  margin-bottom: 0px;
}

.person .position {
  color: #b3b3b3;
  display: block;
  margin-bottom: 20px;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 400;
}

.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #607D8B;
}

.btn {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

#contact {
  padding-bottom: 0;
}

#contact .contact-info {
  padding: 0;
  margin: 0 0 1.5em 0;
}

#contact .contact-info li {
  position: relative;
  padding: 0;
  margin: 0 0 1.5em 0;
  padding-left: 50px;
  list-style: none;
}

#contact .contact-info li i {
  position: absolute;
  top: .2em;
  left: 0;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
}

@media screen and (max-width: 768px) {
  .section-heading {
    margin-bottom: 0px;
  }
}

.section-heading h2 {
  margin: 0 0 30px 0;
  font-size: 50px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}

.section-heading h2.left-border:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #607D8B;
  left: 0%;
  margin-left: 0px;
  bottom: 0;
}

.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #607D8B;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 30px;
  }
}

.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}

@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}

.nav-toggle.active i::before,
.nav-toggle.active i::after {
  background: #607D8B;
}

.nav-toggle:hover,
.nav-toggle:focus,
.nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #607D8B;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #607D8B;
  transition: all .2s ease-out;
}

.nav-toggle i::before,
.nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #607D8B;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav-toggle i::before {
  top: -7px;
}

.nav-toggle i::after {
  bottom: -7px;
}

.nav-toggle:hover i::before {
  top: -10px;
}

.nav-toggle:hover i::after {
  bottom: -10px;
}

.nav-toggle.active i {
  background: transparent;
}

.nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.nav-toggle {
  position: absolute;
  top: 2px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}

#footer {
  padding: 50px 0;
  color: #7f7f7f;
  position: relative;
}

#footer .gotop {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -40px;
  background: #fff;
  z-index: 8;
  width: 80px;
  height: 70px;
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#footer .gotop:hover,
#footer .gotop:focus {
  top: -25px;
  text-decoration: none !important;
}

#footer .copyright {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.btn-primary {
  background: #607D8B;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  box-shadow: none;
  background: #607D8B;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}

.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}

.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}

.social li a i {
  display: table-cell;
  vertical-align: middle;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
  text-decoration: none;
  border-bottom: none;
}

.social li a.social-box {
  background: #607D8B;
  color: #fff;
}

.social li a.social-circle {
  background: #607D8B;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.social li a:hover {
  background: #393e46 !important;
}

.social.social-box a {
  background: #607D8B;
  color: #fff;
}

.social.social-circle a {
  background: #607D8B;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 770px) {
  .col-xxs-99 {
    float: left;
    width: 50%;
  }

  .col-xxs-98 {
    padding-right: 7px;
  }

  .col-xxs-97 {
    padding-left: 7px;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.HeaderLogo {
  width: 200px;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .HeaderLogo {
    width: 150px;
  }
}

.video-pad {
  padding-top: 275px;
}

@media screen and (max-width: 768px) {
  .video-pad {
    padding-top: 100px;
  }
}

.test {
  text-decoration: none !important;
  border-bottom: none;
}

.faded {
  font-size: 20px !important;
}

@media screen and (max-width: 768px) {
  #home {
    background-size: cover;
    background-position-x: 350px;
  }
}

.brand-image {
  content: url(/images/logo/logo\ QR\ white.png);
  width: 22px;
  padding-bottom: 5px;
}

.scroll {
  position: absolute;
  left: calc(50% - 1em);
  width: 30px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.116);
  border-radius: 5em;
  margin-top: 300px;
}

.scroll:before {
  content: '';
  position: absolute;
  left: calc(50% - 0.12em);
  top: .4em;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.384);
  border-radius: 50%;
  -webkit-animation: fadeTo 1.4s ease-in infinite;
  animation: fadeTo 1.4s ease-in infinite;
}

@-webkit-keyframes fadeTo {
  to {
    transform: translateY(1em);
    opacity: 0;
  }
}

@keyframes fadeTo {
  to {
    transform: translateY(1em);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .scroll {
    margin-top: 125px !important;
  }

  .scrollhome {
    margin-top: 120px !important;
  }

  .scroll:before {
    top: 1.6em;
    -webkit-animation: fadeTo 1.4s ease-in infinite;
    animation: fadeTo 1.4s ease-in infinite;
  }

  @-webkit-keyframes fadeTo {
    to {
      transform: translateY(-1em);
      opacity: 0;
    }
  }

  @keyframes fadeTo {
    to {
      transform: translateY(-1em);
      opacity: 0;
    }
  }
}

.btn{
  color: red;
    margin-top: 20px;
}